name: Website build, integration tests

on:
  workflow_call:
    inputs:
      docker_image:
        type: string
        required: true
      site_host:
        type: string
        required: true
      push:
        type: boolean
        default: false
      ecr_registry:
        type: string
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in to ECR
        if: inputs.push
        uses: docker/login-action@v2
        with:
          registry: ${{ inputs.ecr_registry }}
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - uses: docker/build-push-action@v3
        with:
          context: .
          push: ${{ inputs.push }}
          build-args: |
            SITE=${{ inputs.site_host }}
          tags: ${{ inputs.docker_image }}

      - name: Boot docker image
        run: |
          docker run -p 80:80 \
            --name website-${{ inputs.site_host }} \
            -e AB_PROJECTS_GRAPHQL_URL=https://graphql.ab-projects.parameter1.com \
            -e AUTH0_BASEURL=https://www.google.com \
            -e AUTH0_SECRET=12345678 \
            -e AVATAX_HASHED_CREDENTIALS=not-set \
            -e BRAZE_API_KEY=12345678 \
            -e EQUIPMENT_EXPERTS_GRAPHQL_URI=https://www.google.com \
            -e GLOBAL_50_250_DOCS_API_KEY=not-set \
            -e IDENTITYX_GRAPHQL_URI=https://identity-x.parameter1.com/graphql \
            -e OMEDA_APP_ID=not-set \
            -e OMEDA_INPUT_ID=not-set \
            -e PAYFABRIC_DEVICE_ID=not-set \
            -e PAYFABRIC_DEVICE_PWD=not-set \
            -e PAYFABRIC_GATEWAY_NAME=not-set \
            -e POSTUP_API_CREDENTIALS=not-set \
            -e RECAPTCHA_V3_SECRET_KEY=not-set \
            -e RECAPTCHA_V3_SITE_KEY=not-set \
            -e RIGDIG_PASSWORD=not-set \
            -e RIGDIG_USERNAME=not-set \
            -e SENDGRID_API_KEY=not-set \
            -e SENDGRID_DEV_TO=no-reply@parameter1.com \
            -e SPEC_GUIDE_DOCS_API_KEY=not-set \
            -e ZERO_BOUNCE_API_KEY=not-set \
            ${{ inputs.docker_image }} &

      - uses: actions/setup-node@v3
        with:
          node-version: 14.21

      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Run integration tests
        run: node ./test/integration.js
        timeout-minutes: 3

      - name: Stop docker image
        run: docker stop website-${{ inputs.site_host }}
